<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNN Demo</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> -->
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="top-bar">
        <h1><a href="/" class="nav-link">CNN convolution and Pooling Demo</a></h1>
        <a href="/convolution" class="nav-link" style="color: greenyellow;">Convolution</a>
        <a href="/max_pooling" class="nav-link">Max Pooling</a>
        <a href="/min_pooling" class="nav-link">Min Pooling</a>
    </div>

</body>
</html>