<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNN Demo</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> -->
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="top-bar">
        <h1><a href="/" class="nav-link">CNN convolution and Pooling Demo</a></h1>
        <a href="/convolution" class="nav-link">Convolution</a>
        <a href="/max_pooling" class="nav-link">Max Pooling</a>
        <a href="/min_pooling" class="nav-link">Min Pooling</a>
    </div>
    </div class="container">
        <h2>Welcome to the CNN Convolution and Pooling Demo</h2>
        <p>This demo illustrates the concepts of convolution and pooling in Convolutional Neural Networks (CNNs).</p>
        <ul>
            <li><a href="/convolution">Convolution</a>: Learn how convolution operations work.</li>
            <li><a href="/max_pooling">Max Pooling</a>: Understand the max pooling technique.</li>
            <li><a href="/min_pooling">Min Pooling</a>: Explore the min pooling method.</li>
        </ul>
    </div>

    <footer class="footer">
        &copy; 2025 S A Herdev Anish. All rights reserved.
    </footer>
</body>
</html>